{% extends 'instructor/account/Base.html' %}

{% block content %}

	<div class="container">
	<!-- login pane-->
	<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="width:500px" >
		  <div class="modal-dialog">
		  <div class="modal-content">
		      <div class="modal-header">
		          <h1 class="text-center">New Password Form</h1>
		      </div>

		      <div class="modal-body" align="left" style="margin-left: 50px;">
		          <form method="POST" role="form" class="form col-md-8 center-block" id="passwordResetForm" action="{% url 'instructor:resetPasswordFormProcessing' %}"> {% csrf_token %}
		          	<span id = "signUpErrors" style="color:red">

		          	</span>

		          	<br>
		            <div class="form-group">
		              	<input type="hidden" name="username" id="username" value="{{ username }}" />
					</div>

		            <div class="form-group">
		              <input type="password" class="form-control input-lg" style="width:350px" placeholder="Password" id="password1" name="password1" required>
		              <input type="password" class="form-control input-lg" style="width:350px" placeholder="Re-enter Password" id="password2" name="password2" required>
		            </div>
					
		            <div class="form-group">
		              <button type="submit" class="btn btn-primary btn-lg btn-block" style="width:365px; align:left;">Submit</button>
		            </div>

		          </form>
		      </div>

				

		      <div class="modal-footer">
		          &nbsp;
		      </div>
		  </div>
		  </div>
	</div>
	
{% endblock %}

{% block end_js %}

<script type='text/javascript'>

$(document).ready( function(){
	var passwordMatchFlag = 0;

	function verifyRePassword(){
			console.log("Checking reentered password");
			if( $("#password1").val() === $("#password2").val() ){
				console.log("Passwords match");
				$("#signUpErrors").html("");
				passwordMatchFlag = 1;
			}
			else{
				console.log("Passwords don't match");
				$("#signUpErrors").html("Passwords do not match");
				passwordMatchFlag = 0;
			} 
		}

	$("#password2").blur(function() {	
		verifyRePassword();
	});

	$("#passwordResetForm").submit(function(event){
		var customMessage = "Errors: ";
		
		if(passwordMatchFlag === 0)
			customMessage = customMessage.concat("Passwords do not match. ");

		// if all validity checks are not cleared, appropriate message is shown and default POST request is not sent.
		if(passwordMatchFlag===0){
			$("#signUpErrors").html(customMessage);
			 event.preventDefault();
		}
	});

});// document.ready

</script>

{% endblock %}