<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>QUIZIT</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="{% static "quizit2/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "quizit2/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
	<link id="base-style" href="{% static "quizit2/css/style.css" %}" rel="stylesheet">
	<link id="base-style-responsive" href="{% static "quizit2/css/style-responsive.css" %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" %}"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>QUIZIT</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">

						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {{ username }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
								<li><a href="{% url 'logout_view' %}"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- end: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="{% url 'studentLanding' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>	
						<li><a href="{% url 'studentQuestionList' %}"><i class="icon-align-justify"></i><span class="hidden-tablet"> History</span></a></li>
						<li><a href="chart.html"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->

			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">Home</a>
					<i class="icon-angle-right"></i> 
				</li>
				<li>
					<i class="icon-list-alt"></i>
					<a href="#">Quiz Answer</a>
				</li>
			</ul>

			<div class="row-fluid">	
				<div class="box span12">
					
					<div class="box-header">
						<h2><i class="halflings-icon white white bullhorn"></i><span class="break"></span>Alerts</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content alerts">
					{% if displayid = 0 %}
						<div class="alert alert-error ">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> {{ message }}
						</div>
					{% elif displayid = 1 %}
						<div class="alert alert-error ">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Oh snap!</strong> {{ message }}
						</div>
					{% elif displayid = 2 %}
						<div class="alert alert-error ">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Oh snap!</strong> {{ message }}
						</div>
					{% elif displayid = 3 %}
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Well done!</strong> {{ message }}
						</div>
					{% elif displayid = 4 %}
						<div class="alert alert-info">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Sorry!</strong> {{ message }}
						</div>
					{% elif displayid = 5  %}
						<div class="alert alert-block ">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Please Note!</strong> {{ message }}
						</div>
					</div>
					{% endif %}
					
				</div><!--/span-->
			</div><!--/row-->

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	<footer>
		<p>
			<span style="text-align:left;float:left">&copy; 2016 QUIZIT</span>
		</p>

	</footer>
	
	<!-- start: JavaScript-->

		<script src="{% static "quizit2/js/jquery-1.9.1.min.js" %}"></script>
	<script src="{% static "quizit2/js/jquery-migrate-1.0.0.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery-ui-1.10.0.custom.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.ui.touch-punch.js" %}"></script>
	
		<script src="{% static "quizit2/js/modernizr.js" %}"></script>
	
		<script src="{% static "quizit2/js/bootstrap.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.cookie.js" %}"></script>
	
		<script src="{% static "quizit2/js/fullcalendar.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.dataTables.min.js" %}"></script>

		<script src="{% static "quizit2/js/excanvas.js" %}"></script>
	<script src="{% static "quizit2/js/jquery.flot.js" %}"></script>
	<script src="{% static "quizit2/js/jquery.flot.pie.js" %}"></script>
	<script src="{% static "quizit2/js/jquery.flot.stack.js" %}"></script>
	<script src="{% static "quizit2/js/jquery.flot.resize.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.chosen.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.uniform.min.js" %}"></script>
		
		<script src="{% static "quizit2/js/jquery.cleditor.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.noty.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.elfinder.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.raty.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.iphone.toggle.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.uploadify-3.1.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.gritter.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.imagesloaded.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.masonry.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.knob.modified.js" %}"></script>
	
		<script src="{% static "quizit2/js/jquery.sparkline.min.js" %}"></script>
	
		<script src="{% static "quizit2/js/counter.js" %}"></script>
	
		<script src="{% static "quizit2/js/retina.js" %}"></script>

		<script src="{% static "quizit2/js/custom.js" %}"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
