{% extends 'student/studentBasepage.html' %}
{% load mathfilters %}
{% block css_top %}
	<!-- Include Bootstrap Datepicker -->

	<style type="text/css">

		.dateGreen a {
		    background-color: #43B5AD !important;
		    background-image :none !important;
		    color: #ffffff !important;
		}

		.dateRed a {
		    background-color: #E25A59 !important;
		    background-image :none !important;
		    color: #ffffff !important;
		}

		.dateOrange a {
		    background-color: #DEB948 !important;
		    background-image :none !important;
		    color: #ffffff !important;
		}
		
		.dateGrey a {
		    background-color: #e6e6e6 !important;
		    background-image :none !important;
		    color: #ffffff !important;
		}

		.size{
			width:80px;
		}

		.btn:hover, btn:focus{
			cursor: default;
		}
		
		/* this is the big trick*/
		#datepicker, #legends{
			width:40%;
			float:left;
			height: 270px;
		}

		#blankSpace{
			width:20%;
			float:left;
			height: 270px;
		}

		.btn-small{
			width:90px;
		}
	</style>
{% endblock %}

{% block breadcrumb %}
	<a href="#">Question History</a>
{% endblock %}

{% block content %}

		<div class="row-fluid sortable">
			<div class="box span12">
					
					<div class="box-header" data-original-title>
						<h2><i class="icon-align-justify"></i><span class="break"></span>Calendar</h2>
						<div class="box-icon">
							
						</div>
					</div>
					
					<div class="box-content">
						
						<br>
						<div id="wrapper">
							<div class='input-group date' id="datepicker"></div>

							<div id="legends">
									<p><b>Legends</b></p>
									<button class="btn btn-small btn-success" onhover="">>90%</button>&nbsp;&nbsp;
									<button class="btn btn-small btn-warning">70%-90%</button>&nbsp;&nbsp;
									<button class="btn btn-small btn-danger">&lt;70%</button>&nbsp;&nbsp;
									<button class="btn btn-small btn-inverse">No Attempts</button>&nbsp;&nbsp;
							</div>
							
							<div id="blankSpace">&nbsp;&nbsp;&nbsp;</div>

						</div>

						<div id="questionDetails">
							<div class="page-header">
							  <h2>Question Details </h2>
							</div>  
							
							<div id="questionText">Question : Hello?</div>
							<div id="attemps">Correct Attempts : 1/2</div>
							<button id = "reviewButton" class="btn btn-small btn-success size">Review</button>
							<button id = "retryButton"  class="btn btn-small btn-warning size">Retry</button>
						</div>
						<br>
						<br>

					</div>
			</div>
		</div><!-- End: row-fluid-sortable -->

{% endblock %}

{% block javascript_bottom %}
	<script type="text/javascript">
		$(document).ready(function(){

			// Removing the question details section
			$("#questionDetails").hide();

			// Formatting the calendar
			var eventData = {{ eventData|safe }};
			console.log(new Date(eventData.dates[0].date).toJSON());			
			
			var eventDates = [];
			for(var i = 0; i<eventData.dates.length; i++){
				var dateObj = new Date(eventData.dates[i].date);
				//console.log(dateObj)
				eventDates[dateObj] = {
									"date": dateObj, 
									"questionText" : eventData.dates[i].questionText ,
									"questionID" : eventData.dates[i].questionID ,
									"studentID" : eventData.dates[i].studentID ,
									"answerFlag" : eventData.dates[i].answerFlag ,
									"numAttempts" : eventData.dates[i].numAttempts ,
									"numCorrectAttempts" : eventData.dates[i].numCorrectAttempts ,
									"cssName" : eventData.dates[i].cssName ,
								};
			}

			$('#dp').datepicker();

			$('#datepicker').datepicker({
				inline: true,
				disabled: false,
				beforeShowDay: function(date) {
					var eventDate = eventDates[date];
					if (eventDate) {
					d	if (parseInt(eventDate.answerFlag) == 1)
							return [true, eventDate.cssName, eventDate];
						else
							return [true, '', ''];
					} else {
						return [false, '', ''];
					}
	     		},
	     		onSelect: function() {
	     			// $(this).val() returns the selected date in string. So convert it into date format
	     			var eventDate = eventDates[new Date($(this).val())];
	     			console.log(eventDate);
	     			$("#questionText").html("Question : "+eventDate.questionText);
	     			$("#attemps").html("Correct Attempts : "+eventDate.numCorrectAttempts + "/"+ eventDate.numAttempts);
	     			
	     			$("#reviewButton").click(function(e){
	     				var url = "{% url 'student:studentQuestionView' sid=12345 qid=54321 topAlertFlag=99999 backLocation=2 %}";
						url = url.replace(/12345/, parseInt(eventDate.studentID));
						url = url.replace(/54321/, parseInt(eventDate.questionID));
						window.location.href= url;
	     			});
	     			if(eventDate.numCorrectAttempts>0){
		     			$("#retryButton").click(function(e){
		     				var url = "{% url 'student:studentQuestionRetry' sid=12345 qid=54321 topAlertFlag=99999 backLocation=2 %}";
							url = url.replace(/12345/, parseInt(eventDate.studentID));
							url = url.replace(/54321/, parseInt(eventDate.questionID));
							window.location.href= url;
		     			});
	     			}

	     			$("#questionDetails").show();
	     		},
			}); // end of datetimepicker
		});
	</script>
{% endblock %}