{% extends 'account/Base.html' %}

{% block content %}

	<div class="container">
	<!-- login pane-->
	<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="width:500px">
		  <div class="modal-dialog">
		  <div class="modal-content">
		      <div class="modal-header">
		          <h1 class="text-center">Forgot Password</h1>
		      </div>

		      <div class="modal-body" align="center">
		          <form method="POST" role="form" class="form col-md-8 center-block" id="forgotPassword" action="{% url 'account:resetPasswordSendMail' %}"> {% csrf_token %}
		            <div class="form-group">
		            	{%if IncorrectUsernameEmail == True %}
		          		<span style="color:red">Incorrect Username/Email. Please retry.</span>
		          		{% endif %}
		            	<br>
		              	<input type="text" class="form-control input-lg" style="width:350px" placeholder="Email address" id="resetEmail" name = "resetEmail" required="">
		            </div>

		            <div class="form-group">
		              	<button type="submit" class="btn btn-primary btn-lg btn-block" style="width:365px; align:left;">Submit</button>
		            </div>
					<br>

		           </form>
		      </div>
		      <div class="modal-footer">
		          &nbsp;
		      </div>
		  </div>
		  </div>
	</div>
  

		<!-- end: Content -->
	</div><!-- Container -->

{% endblock %}