{% extends 'account/Base.html' %}

{% block content %}

	<div class="container">
	<!-- login pane-->
	<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="width:500px">
		  <div class="modal-dialog">
		  <div class="modal-content">
		      <div class="modal-header">
		          <h1 class="text-center">Forgot Password</h1>
		      </div>

		      <div class="modal-body" align="center">
		            <div class="form-group">
		            	<br>	
		              	A mail has been sent to <b><a href="{{ emailProvider }}" target="_blank" style="text-decoration:underline"> {{ email }} </a></b>. Please follow the instructions to reset your password
		            </div>
		            
		            <br>
		      </div>
		      <div class="modal-footer">
		          &nbsp;
		      </div>
		  </div>
		  </div>
	</div>
		<!-- end: Content -->
	</div><!-- Container -->
		
{% endblock %}
