{% extends 'instructor/instructorBasepage.html' %}
{% load math_operations %}
{% load staticfiles %}
{% block breadcrumb %}
	<a href="#">Dashboard</a>
{% endblock %}

{% block css_top %}
	 <style>
      body {
        font: 9px sans-serif;
        color: #121401;
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: #121401;
        stroke-width: 2px;
        shape-rendering: crispEdges;
      }

      #text-select {
        float:right;
      }  

      #all, .findings {
        margin: auto;
        width: 80%;
        padding: 10px;
      }

      li {
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size:13px;
      }

      #update_heading {
       -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
       -ms-transition: opacity .5s ease-in-out;
       -o-transition: opacity .5s ease-in-out;
       transition: opacity .5s ease-in-out;
    }
    </style>
{% endblock %}

{% block content %}
  
  {% if showStatsFlag == 1 %}
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header">
				<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Overall Stats</h2>
			</div>

			<div class="span12 glyphicons" style="text-align:center;">
				<p><i class="glyphicons-icon user"></i><b>{{ numAllStudents }}&nbsp;Students</b></p>
				<p><i class="glyphicons-icon circle_question_mark"></i><b>{{ numAllQuestions }}&nbsp;Questions</b></p>
				<p><i class="glyphicons-icon book"></i><b>{{ numAllTopics }}&nbsp;Topics</b></p>
				<p><i class="glyphicons-icon edit"></i><b>{{ numAllAttempts }} Attempts</b></p>
			</div>
			<div>
				<div class="span6" id="overall_pie_chart"></div>
				<div class="span6" id="level_bar_chart"></div>
			</div>
			
		</div>	
	</div>
	
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header">
				<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Topic Level Stats</h2>
			</div>
			<div class="box-content">
				<div class="span12" style="text-align:center;">
				<div id="topic_bar_chart"></div>
				<!--
				<div>
        			<h3 align="center" id="update_heading"></h3>
    			</div>
				<div id="topic_pie_chart"></div>
				-->
			</div>
			</div>
		</div><!--/row-->
	</div>

	<div class="row-fluid sortable">
		<div class="box 12">
			<div class="box-header">
				<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Topic Level Stats- Table</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content" style="height:300px; overflow-y:scroll;">
				<table class="table">
					  <thead>
						  <tr>
							  <th width="40%">Topic</th>
							  <th>Questions</th>
							  <th>Attempts</th>
							  <th>Correct Attempts</th>
							  <th>Success %</th>
						  </tr>
					  </thead>   
					  <tbody>
					  {% for key, values in attemptsTopicDict.items %}
					  	<tr>
					  		 {% for k, v in values.items %}
					  				<td>{{ v }}</td>
							 {% endfor %}
					  	</tr>
					  {% endfor %}
					  </tbody>
				 </table>  
			</div>
		</div><!--/row-->
	</div>

  {% else %}
    NO STATS TO SHOW
  {% endif %}

	<!--<div id="chart"></div>-->

{% endblock %}

{% block javascript_bottom %}	
<!-- start: JavaScript-->
<script src="{% static "account/js/bootstrap.js" %}"></script>
<script type="text/javascript">
    	// For donut
    overallPieData = [{
    	"mapping":[
    	{ 
    		"itemLabel":"Incorrect Attempts",
            "itemValue": parseInt({{numAllIncorrectAttempts}})
		},
    	{
    		"itemLabel":"Correct Attempts",
            "itemValue": parseInt({{numAllCorrectAttempts}})
    	}]
    	,"courseTopic":"Total" }];

    	// for pie chart
  //   	var overallPieData = [
  //   	{ 
  //   		"itemValue": parseInt({{numAllIncorrectAttempts}}),
  //   		"itemLabel":"Incorrect Attempts"
            
		// },
  //   	{
  //   		"itemValue": parseInt({{numAllCorrectAttempts}}),
  //   		"itemLabel":"Correct Attempts"
  //   	}];

</script>

<script src="{% static "account/js/custom_js/overall_pie.js" %}"></script>

{% autoescape off %}
	<script type="text/javascript">
		var levelBarChartData = {{attemptsDifficultyLevelDict}};
		var topicBarChartData = {{attemptsTopicDict1}};	
		var topicPieChartData = {{attemptsTopicDict2}};			
	</script>
	<script src="{% static "account/js/custom_js/topic_bar.js" %}"></script>
	<script src="{% static "account/js/custom_js/difficultyLevel_bar.js" %}"></script>
	<!--<script src="{% static "account/js/custom_js/topic_pie.js" %}"></script>-->

<script type="text/javascript">
      var margin = { top: 50, right: 0, bottom: 100, left: 30 },
          width = 960 - margin.left - margin.right,
          height = 430 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 24),
          legendElementWidth = gridSize*2,
          buckets = 9,
          colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          days = {{topicList}},
          times = ["1a", "2a", "3a", "4a", "5a", "6a", "7a", "8a", "9a", "10a", "11a", "12a", "1p", "2p", "3p", "4p", "5p", "6p", "7p", "8p", "9p", "10p", "11p", "12p"];
          datasets = ["/quizit/account/data.tsv", "data2.tsv"];

      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });

      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });

      var heatmapChart = function(tsvFile) {
        d3.tsv(tsvFile,
        function(d) {
          return {
            day: +d.day,
            hour: +d.hour,
            value: +d.value
          };
        },
        function(error, data) {
          var colorScale = d3.scale.quantile()
              .domain([0, buckets - 1, d3.max(data, function (d) { return d.value; })])
              .range(colors);

          var cards = svg.selectAll(".hour")
              .data(data, function(d) {return d.day+':'+d.hour;});

          cards.append("title");

          cards.enter().append("rect")
              .attr("x", function(d) { return (d.hour - 1) * gridSize; })
              .attr("y", function(d) { return (d.day - 1) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "hour bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          cards.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.value); });

          cards.select("title").text(function(d) { return d.value; });
          
          cards.exit().remove();

          var legend = svg.selectAll(".legend")
              .data([0].concat(colorScale.quantiles()), function(d) { return d; });

          legend.enter().append("g")
              .attr("class", "legend");

          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

          legend.append("text")
            .attr("class", "mono")
            .text(function(d) { return "≥ " + Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);

          legend.exit().remove();

        });  
      };

      heatmapChart(datasets[0]);
      
      var datasetpicker = d3.select("#dataset-picker").selectAll(".dataset-button")
        .data(datasets);

      datasetpicker.enter()
        .append("input")
        .attr("value", function(d){ return "Dataset " + d })
        .attr("type", "button")
        .attr("class", "dataset-button")
        .on("click", function(d) {
          heatmapChart(d);
        });

</script>
{% endautoescape %}

{% endblock %}