<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}	
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>QUIZIT</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="{% static "account/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "account/css/bootstrap-responsive.min.css" %}" rel="stylesheet">
	<link id="base-style" href="{% static "account/css/style.css" %}" rel="stylesheet">
	<link id="base-style-responsive" href="{% static "account/css/style-responsive.css" %}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	<style type="text/css">
	    body, html {
	    background-image: linear-gradient(rgb(255, 255, 255), rgb(166, 166, 166));
	}
	</style>

	{% block css_top %}
	{% endblock %}
	
	{% block javascript_top %}
	{% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
	
	<script src="{% static "account/js/d3.js" %}"></script>
	<script src="{% static "account/js/d3.min.js" %}"></script>
	<script src="{% static "account/js/jquery-1.9.1.min.js" %}"></script>
	<script src="{% static "account/js/jquery-migrate-1.0.0.min.js" %}"></script>
	<script src="{% static "account/js/jquery-ui-1.10.0.custom.min.js" %}"></script>
	<script src="{% static "account/js/jquery.ui.touch-punch.js" %}"></script>
	<script src="{% static "account/js/modernizr.js" %}"></script>
	<script src="{% static "account/js/bootstrap.min.js" %}"></script>
	<script src="{% static "account/js/jquery.cookie.js" %}"></script>
	<script src="{% static "account/js/fullcalendar.min.js" %}"></script>
	<script src="{% static "account/js/jquery.dataTables.min.js" %}"></script>
	<script src="{% static "account/js/excanvas.js" %}"></script>
	<script src="{% static "account/js/jquery.flot.js" %}"></script>
	<script src="{% static "account/js/jquery.flot.pie.js" %}"></script>
	<script src="{% static "account/js/jquery.flot.stack.js" %}"></script>
	<script src="{% static "account/js/jquery.flot.resize.min.js" %}"></script>
	<script src="{% static "account/js/jquery.chosen.min.js" %}"></script>
	<script src="{% static "account/js/jquery.uniform.min.js" %}"></script>
	<script src="{% static "account/js/jquery.cleditor.min.js" %}"></script>
	<script src="{% static "account/js/jquery.noty.js" %}"></script>
	<script src="{% static "account/js/jquery.elfinder.min.js" %}"></script>
	<script src="{% static "account/js/jquery.raty.min.js" %}"></script>
	<script src="{% static "account/js/jquery.iphone.toggle.js" %}"></script>
	<script src="{% static "account/js/jquery.uploadify-3.1.min.js" %}"></script>
	<script src="{% static "account/js/jquery.gritter.min.js" %}"></script>
	<script src="{% static "account/js/jquery.imagesloaded.js" %}"></script>
	<script src="{% static "account/js/jquery.masonry.min.js" %}"></script>
	<script src="{% static "account/js/jquery.knob.modified.js" %}"></script>
	<script src="{% static "account/js/jquery.sparkline.min.js" %}"></script>
	<script src="{% static "account/js/counter.js" %}"></script>
	<script src="{% static "account/js/retina.js" %}"></script>
	<script src="{% static "account/js/custom.js" %}"></script>
	

</head>

<body>
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url 'instructor:questionList' %}"><span>QUIZIT</span></a>

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">

						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {{ first_name }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'instructor:viewCourses' %}"><i class="halflings-icon user"></i> Profile</a></li>
								<li><a href="{% url 'instructor:logout_view' %}"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->

			</div>
		</div>
	</div>
	<!-- end: Header -->
	
	<div class="container-fluid-full">
	<div class="row-fluid">

		<!-- start: Main Menu -->
		<div id="sidebar-left" class="span2">
			<div class="nav-collapse sidebar-nav">
				<ul class="nav nav-tabs nav-stacked main-menu">
					<li><a href="{% url 'instructor:instructorDashboard' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
					<li><a href="{% url 'instructor:questionForm' %}"><i class="icon-edit"></i><span class="hidden-tablet"> Set Question</span></a></li>
					<li><a href="{% url 'instructor:questionList' %}"><i class="icon-align-justify"></i><span class="hidden-tablet"> View Questions</span></a></li>
					<li><a href="{% url 'instructor:instructorCalendar' %}"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar View</span></a></li>
				</ul>
			</div>
		</div>
		<!-- end: Main Menu -->

		<!-- start: Content -->
		<div id="content" class="span10">


			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="#">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-list-alt"></i>
					{% block breadcrumb %}
					{% endblock %}
				</li>
			</ul>

			{% block content %}
			{% endblock %}

		</div><!-- End: Content -->

	</div><!-- End: fluid-row-->
	</div><!-- End: container-fluid-full -->

<footer>
	<p>
		<span style="text-align:left;float:left">
		&copy; QuizIT <small> is one of the CS educational technologies created by <a href="https://sites.google.com/a/asu.edu/csi/">CSI Lab</a> of <a href="http://cidse.engineering.asu.edu/">School of Computing, Informatics & Decision Systems Engineering</a> at <a href="http://www.asu.edu/">Arizona State University</a>
		</small>
		</span>		
	</p>
</footer>


</body>

{% block javascript_bottom %}
{% endblock %}

</html>
